<div class="content-subtitles">    
    <div class="subtitle"><a href="pages/idea">Nasza idea - zobacz, dlaczego warto zwracać butelki</a></div>
    <div class="subtitle"><a href="bottles">Sprawdź, jakie butelki możesz zwrócić</a></div>
</div>