<p id="notice"><%= notice %></p>


<p><strong>Obecnie masz w swoim portfelu: 
  <% @wallet = current_user.wallet %>
  <%= @wallet.total_amount %> zł</strong></p>
<br>
<div class="link"><%= link_to 'Powrót', bottles_path %></div>