<p id="notice"><%= notice %></p>


<p><strong>Obecnie masz w swoim portfelu: 

  <% @wallet = current_user.wallet %>
  <%= @wallet.total_amount %> zł</strong></p>
<br>
<%= link_to 'Back', bottles_path %>