<p id="notice"><%= notice %></p>


<p><strong>Zgromadziłeś już: </strong>
<%# <% if @wallet.user == current_user %>
<%# <% @wallet = current_user.wallet %>
  <%= @wallet.total_amount %> zł</p>
  <% end%>
<br>
<%= link_to 'Back', bottles_path %>