<div class="wallet">

<p id="notice"><%= notice %></p>

<h3>Obecnie masz w swoim portfelu: 
  <% @wallet = current_user.wallet %>
  <%= @wallet.total_amount %> zł <h3>
</div>
<div class="link"><p><%= link_to 'Powrót', bottles_path %></p></div>

